body{
    background-image:url("../img/background.jpg");
    background-size: cover;
}

#primarytitle{
    color: black;
    padding-top: 8%;
    padding-left: 7%;
    font-size: 3.5rem;
}

table{
    margin-left: 7%;
    align-items: stretch;
}

#generatebutton{
    block-size: 55px;
    margin-left: 15%;
    font-family: 'Roboto_Slab';
    background-color: #4caf50; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#generatebutton:hover{
    background-color: #ad665b; 
}

#generatebutton:active{
    background-color: #ad665b;
    transform: translateY(4px); 
}

.rectangle{
    border-radius: 15px;
    background-color:transparent;
    border-style: inset;
    font-size:xx-large;
    text-align: center;
    color: black;
}

#secondarytitle{
    color:  black;
    padding-left: 7%;
}

#inputdata{
    padding-left: 7%;
}

#check{
    padding-left: 7%;
}

#inputdata input{
    border-radius: 15px;
    background-color: transparent;
    border-style: inset;
    text-align: center;
}
