* {
    box-sizing: border-box;
}

body{
    max-width: 1500px;
    max-height: 750px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-areas: "title title score" "newpuzzle game score" "footer footer footer";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 85% 5%;
    height: 100vh;
    background-color:#bab2b5;
    font-family: 'Philosopher', sans-serif;
}

/* TITLE AREA */ 
.title {
    margin-top: 3rem;
    padding-left: 5rem;
    grid-area: title;
    text-align: left;
    font-size: 3rem;
    color: #231f20;
}

/* NEW PUZZLE */ 
.newpuzzle {
    padding-left: 5rem;
    margin-top: 5rem; 
    grid-area: newpuzzle;
    display: flex;
    flex-direction: column;
}

h4 {
    font-size: 1.5rem;
    color: #ba5c12;
}

button {
    border:none;
    margin-top: 0.5rem;
    font-family:'Philosopher', sans-serif;
    height: 2.5rem;
    width: 6rem;
    background-color: #231f20;
    color:#eee2dc;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #ba5c12;
}
button:active{
    background-color: #e26d13;
}

/* GAME */ 
.game {
    margin-top: -2rem;
    grid-area: game;
    display: grid;
    grid-template-areas: "message message" "timer timer" "board num" "btns btns";
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.message {
    grid-area: message;
    margin: auto;
    padding-bottom: 1rem;
}

.timer {
    grid-area: timer;
    margin: auto;
    padding: 0;
}

.board {
    grid-area: board;
    display: inline-block;
    width: fit-content;
    background-color:  #231f20;;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 0.2rem;
    row-gap: 0.2rem;
}

.cell {
    margin: 0;
    width: 3rem;
    height: 3rem;
    border: 1px solid  #231f20;
    font-size: 2.2rem;
    text-align: center;
    font-weight: bolder;
    cursor: default;
}

.square1, .square2 {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 0;
    column-gap: 0;
    justify-content: center;
}
.square1 {
    background-color: #c4b2bc;
}

.square2{
    background-color: #eee2dc;
}

.numbers {
    margin-left: 1rem;
    grid-area: num;
    padding: 0;
    display: inline-block;
    display: grid;
    grid-column: auto;
    width: min-content;
}

.number {
    margin: 0;
    width: 3rem;
    font-family:'Philosopher', sans-serif;
    margin-bottom: .2rem;
}

.bottom-btns {
    grid-area: btns;
}

#check {
    background-color: #ba5c12;
}

#check:hover {
    background-color: #e26d13;
}

/* SCORE */ 
.score {
    grid-area: score;
    background-color: #231f2042;
    height: 100vh;
    color:#231f20;
}

.container {
    margin-left: 3rem;
}

/* FOOTER */ 
footer{
    text-align: center;
    background-color: #231f2028;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:#231f20;
}

.selected {
    background-color: #231f20;
}

.removed {
    cursor: pointer;
    color: #e26d13;
}

.false-answer {
    background-color: red;
    color: black;
}

.correct-answer {
    background-color: rgb(126, 185, 36);
    color: black;
}

@media screen and (max-width: 1000px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title{
        text-align: center;
        padding: 0;
        width:100%;
    }
    h1 {
        text-align: center;
        margin-top: 5rem;
    }
    .newpuzzle{ /**/
        align-self: center;
        margin-top: -4rem;
        margin-bottom: 2rem;
        margin-left: 0;
        display: grid;
        grid-template-areas: 
        "h h h" 
        "b1 b2 b3";
        padding: 0;
    }
    .newpuzzle h4{
        justify-self: center;
        grid-area: h;
    }
    .newpuzzle .btn{
        grid-area: b1 b2 b3;
        margin-bottom: 1rem;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        margin-top: -1.5rem;
    }
    .game { 
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .board { 
        align-self: center;
        margin: 0;
        display: inline-block;
        width:fit-content;
        background-color:  #231f20;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        column-gap: 0.1rem;
        row-gap: 0.1rem;
    }

    .numbers{ 
        width: 100vw;
        margin-top: 1rem;
        align-self: center;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        column-gap: 0.2rem;
        row-gap: 0.2rem;
    
    }
    .number, .btn {  
        width: 6rem;
        height: 2rem;
    }
    .bottom-btns {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items:center;
        gap: .4rem;
    }
    #check {
        margin-top: 1rem;
        align-self: center;
        width: 9rem;
        height: 2.5rem;
        margin-bottom: 2rem;
    }
    #clear {
        margin-top: 1rem;
        align-self: center;
        width: 9rem;
        height: 2.5rem;
        margin-bottom: 2rem;
    }
    .cell { 
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
        text-align: center;
        cursor: default;
    }
    .footer{
        position: relative;
    }
}