* {
    box-sizing: border-box;
  }

@media only screen and (max-width: 750px) {
    body {
      background-image: url(../img/background.jpg);
      background-size: cover;
    }
    .container {
        background-color: rgba(245, 245, 245, 0.705);
        min-height: 100vh;
        min-width: 100vw;
    }
}
body{
    min-height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    background-image: url(../img/background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
}
.container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 75%;
    align-self: center;
    background-color: rgba(245, 245, 245, 0.705);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

h1 {
    margin: 0, 15%;
    font-size: 3rem;
    text-align: center;
}
h2 {
    margin: 0 10%;
    text-align: center;
}

.display {
    background-color: rgb(248, 235, 220);
    margin: 0 10%;
    font-size: 2.5em;
    text-align: center;
    border-radius: 10px;
}

#generatebutton {
    font-family: 'Noto Sans', sans-serif;
    block-size: 4em;
    margin: 2% 40%;
    background-color: #4caf50; 
    border-radius: 10px;
    color: white;
    text-align:center;
    text-decoration: none;
    overflow:hidden;
    font-size: 1rem;
}

#generatebutton:hover{
    background-color: #ad665b; 
}

#generatebutton:active{
    background-color: #7a463e; 
}

.container p{
    margin: 0 10%;
    text-align: center;
}

.textbox, .checkbox{
    display: flex;
    flex-wrap: wrap;
    margin: 2% 10%;
    justify-content: center;
}

.textbox-item{
    display: inline-grid;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.textbox-input {
    background-color: rgb(248, 235, 220);
}
.checkbox{
    justify-content: center;
}
.checkbox-item{
    margin-left: 2%;
    width: 1.5em;
    height: 1.5em;
}

footer {
    background-color: rgba(245, 245, 245, 0.205);
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
