* {
    box-sizing: border-box;
}

@font-face {
    font-family: digi;
    src: url(digital.ttf);
}

body {
    max-width: 1000px;
    min-width: 800px;
    font-family: digi;
    margin: 0;
    text-align: center;
    background-color: #202124;
    margin: auto;
    color :whitesmoke;
    font-size: larger;
    padding: 2% 2%;
}

#scoreboard {
    margin-top: -3rem;
}
.timeout, .foul, .game {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4 {
    margin-top: -1rem;
}

.box {
    background-color: black;
    width: auto;
    height: 1.4em; 
    padding-top: .2em;
    border-radius: 5px; 
    text-shadow: 
    0 0 10px #FAD805, 
    0 0 10px #FAD805, 
    0 0 10px #FAD805;
}

.winner {
    visibility: hidden;
    text-shadow: 
    0 0 10px #FAD805, 
    0 0 10px #FAD805, 
    0 0 10px #FAD805;
}

#timer {
    width: 10rem;
    margin: auto;
}

#home-score, #guest-score {
    font-size: 4rem;
    text-shadow: 
    0 0 10px #fa2a05, 
    0 0 10px #fa2a05, 
    0 0 10px #fa2a05;
}

#timer, #period {
    text-shadow: 
    0 0 10px #73fa05, 
    0 0 10px #73fa05, 
    0 0 10px #73fa05;
}

.flex {
    display: flex;
    justify-content: space-between;
}

#scoreboard {
    display: flex;
    justify-content: space-around;
}

.period {
    align-self: center;
    margin-top: -5rem;
}
.increment, .timeout-foul {
    display: flex;
}

.btn {
    margin-top: 1rem;
}
.increment button {
    font-family: 'Noto Sans', sans-serif;
    background-color: transparent;
    width: 3rem;
    height: 2rem;
    margin: .5rem;
    border: 2px solid black;
    color: whitesmoke;
}

.timeout-foul button {
    font-family: 'Noto Sans', sans-serif;
    background-color: transparent;
    width: 5rem;
    height: 2rem;
    margin: .5rem;
    border: 2px solid black;
    color: whitesmoke;
}
.game {
    margin-top: -6rem;
}

#newgame {
    background-color: #438f06;
    color: black;
}
#newgame:hover {
    background-color: #316804;
}
#newgame:active {
    background-color: #234b03;
}
.game button {
    font-family: 'Noto Sans', sans-serif;
    background-color: transparent;
    align-self: center;
    width: 10rem;
    height: 2rem;
    margin: .5rem;
    border: 2px solid black;
    color: whitesmoke;
}

button:hover {
    background-color: #474a50;
}

button:active {
    background-color: #63676e;
}

